<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ConsumeAPINet6</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/feather-icons"></script>
    <style>
        
        .box-nav{
            background-color: white;
            font-family: "Roboto Slab", serif;
            font-weight: 300;
            box-shadow: 0 5px 6px rgba(109,40,255,0.5);
            z-index: 99999;
            top:0%;
            left:0%;
            right:0%;
        }
        a{
            color: rgba(109,40,255,0.8);
            text-decoration: none;
        }
        a:hover {
            font-weight: 500;
            color: rgba(96, 22, 255, 0.8);
        }
        .dropdown-toggle::after{
            display: none;
        }

        .button {
            border-radius: 10px;
            border: 3px solid rgba(109, 40, 255, 0.8);
            background-color: rgba(157, 113, 254, 0.8);
        }
        .button:hover {
            color: white;
            background-color: rgba(109, 40, 255, 0.8);
        }
        
    </style>
</head>
<body>
    <header>
        <div class="row p-3 d-flex justify-content-between box-nav">
            <div class="col-xl-3 col-md-3 col-sm-3 d-flex justify-content-center align-content-center align-items-center text-center">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ConsumeAPINet6</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="col-xl-6 col-md-8 col-sm-8 d-flex justify-content-center p-2 align-content-center align-items-center text-center sidebar">
                <div class="col-xl-2 col-sm-auto col-md-auto">
                    <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </div>
                <div class="col-xl-2 col-sm-auto col-md-auto">
                    <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
                <div class="col-xl-2 col-sm-auto col-md-auto">
                    <a asp-area="" asp-controller="Users" asp-action="Index">Users</a>
                </div>

            </div>
            <div class="col-xl-3 col-md-2 col-sm-2 align-content-center align-items-center text-center ps-3 sidebar">
                <div class="dropdown">
                    <button class="button dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <i data-feather="user"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" asp-controller="UserValidation" asp-action="Logout">Logout<i data-feather="log-out"></i></a></li>
                        <li><a class="dropdown-item" asp-controller="Users" asp-action="EditProfile">Edit Profile<i data-feather="settings"></i></a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="container pt-4">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

@*     <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - ConsumeAPINet6 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        feather.replace();
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
